# Folders i dont want to commit #
###################
cs236781_hw2/
cs236781_hw3/
cs236781/
spatialGeneExpressionData/

# Files i dont want to commit #
###################
*.sh
*.idea
*.ipynb_checkpoints
*.png
main.py
*.csv