# Folders i dont want to commit #
###################
cs236781_hw2/
cs236781_hw3/
cs236781/
spatialGeneExpressionData/
old_files/
saved_plots/
Finished_notebook_runs_HTMLs/

# Files i dont want to commit #
###################
*.sh
*.idea
*.ipynb_checkpoints
*.png
main.py
*.csv
*.out
5epoch_notebook.ipynb
main_for_notebooks_on_server.py